body, h2 {
    color: rgb(241, 241, 241);
    background-image: url("../images/black_thread.png");
    font-family: 'Rye', cursive;
}

h1 {
    text-align: center;
    font-size: 100px;
}

.rules {
    font-family: 'Lato', sans-serif;
}

.button {
    float: left;
    border: none;
    background: transparent;
    margin-top: 40px;
    margin-bottom: 70px;
    outline: none;
}

.gameNums {
    text-align: center;
    font-family: 'Rye', cursive;
    border: dotted 3px white;
    margin: 10px;
    width: 22%;
    height: 150px;
}


#blueCrystal {
    width: 70%;

}

#redCrystal {
    width: 70%;
}

#greenCrystal {
    width: 70%;
}

#purpleCrystal {
    width: 70%;
}
