body {
    color: rgb(241, 241, 241);
    background-color: black;
}

.button {
    float: left;
    border: none;
    background-color: none;
}

#blueCrystal {
    width: 100px;
}

#redCrystal {
    width: 100px;
}

#greenCrystal {
    width: 100px;
}

#purpleCrystal {
    width: 100px;
}

.reset-button {
    color: rgb(61, 61, 61);
}